<?xml version="1.0" encoding="utf-8"?>
<robot name="King_W">
  <link name="piece_body">
    <inertial>
      <mass value="0.066"/>
      <origin xyz="-1.601E-08 -1.691E-08 0.036" rpy="0 0 0"/>
      <inertia ixx="7.320E-05" ixy="0.00" ixz="0.00" iyy="7.321E-05" iyz="0.00" izz="8.252E-06"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0565"/>
      <geometry>
        <cylinder radius="0.0215" length="0.113"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0.017 0.0 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.009 0.015 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.009 -0.015 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0"/>
      <geometry>
        <mesh filename="King_W.obj"/>
      </geometry>
    </visual>
  </link>
</robot>