<?xml version="1.0" encoding="utf-8"?>
<robot name="Pawn_W">
  <link name="piece_body">
    <inertial>
      <mass value="0.032"/>
      <origin xyz="-3.677E-07 1.233E-07 0.021" rpy="0 0 0"/>
      <inertia ixx="1.393E-05" ixy="0.00" ixz="3.527E-10" iyy="1.392E-05" iyz="-1.150E-10" izz="3.265E-06"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.031"/>
      <geometry>
        <cylinder radius="0.0195" length="0.062"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0.016 0.0 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.008 0.014 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.008 -0.014 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0"/>
      <geometry>
        <mesh filename="Pawn_W.obj"/>
      </geometry>
    </visual>
  </link>
</robot>