<?xml version="1.0" encoding="utf-8"?>
<robot name="Queen_B">
  <link name="piece_body">
    <inertial>
      <mass value="0.064"/>
      <origin xyz="7.707E-08 1.046E-08 0.035" rpy="0 0 0"/>
      <inertia ixx="6.920E-05" ixy="0.00" ixz="-1.447E-10" iyy="6.920E-05" iyz="0.00" izz="8.154E-06"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
      <geometry>
        <cylinder radius="0.0215" length="0.10"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0.017 0.0 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.009 0.015 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.009 -0.015 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0"/>
      <geometry>
        <mesh filename="Queen_B.obj"/>
      </geometry>
    </visual>
  </link>
</robot>