<?xml version="1.0" encoding="utf-8"?>
<robot name="Board">
  <link name="board_body">
    <contact>
      <lateral_friction value="1.0"/>
    </contact>
    <inertial>
      <mass value="2.674"/>
      <origin xyz="0.00 0.00 -0.01" rpy="0 0 0"/>
      <inertia ixx="0.058" ixy="0.00" ixz="0.00" iyy="0.058" iyz="0.00" izz="0.115"/>
    </inertial>
    <collision>
      <origin rpy="0 0 1.571" xyz="0 0 -0.0095"/>
      <geometry>
        <box size="0.508 0.508 0.019"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 1.571"/>
      <geometry>
        <!-- <mesh filename="simpleBoard.obj"/> -->
        <mesh filename="SimpleBoardT.obj"/>
      </geometry>
    </visual>
  </link>
</robot>